<mat-card class="card">
  <form [formGroup]='form' (ngSubmit)="onSubmit()" class="example-form">

    <mat-form-field class="example-full-width">
      <input style='width: 350px' [ngClass]="{'error': isValid('firstName')}" matInput placeholder="First Name"
        formControlName="firstName">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input style="width: 350px" [ngClass]="{'error':  isValid('lastName')}" matInput placeholder="Last Name"
        formControlName="lastName">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input style="width: 350px" [ngClass]="{'error':  isValid('email')}" type="email" matInput placeholder="Email"
        formControlName="email">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input style="width: 350px" [ngClass]="{'error':  isValid('password')}" type="password" matInput
        placeholder="Password" formControlName="password">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input style="width: 350px" [ngClass]="{'error':  isValid('confirmPassword')}" type="password" matInput
        placeholder="Confirm Password" formControlName="confirmPassword">
    </mat-form-field>
    <br>
    <span *ngIf="form.errors?.mismatchedFields">Passwords do not match</span>
    <br>
    <button mat-raised-button color="primary">Register</button>

  </form>

</mat-card>
